.aturVaksin {
  font-family: "Inter", sans-serif;
  /* height: 910px; */
  /* overflow: scroll; */
}

.navigasi {
  font-size: 13px;
}

.aturVaksin h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
}

/* .aturVaksin {
  background-color: salmon;
  width: 80%;
} */

.aturVaksin th {
  font-size: 20px;
}

.aturVaksin td {
  font-size: 17px;
}

.aturVaksin table {
  border-radius: 1em;
  overflow: hidden;
}

.aturVaksin tr th {
  height: 70px;
}

.aturVaksin tr td {
  height: 60px;
}

.modalAturVaksin h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
}

.modalAturVaksin button {
  font-size: 18px;
  font-weight: 400;
}
