.sesiTersedia {
  font-family: "Inter", sans-serif;
}

.navigasi {
  font-size: 13px;
}

.sesiTersedia h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
}

/* .sesiTersedia {
      background-color: salmon;
      width: 80%;
    } */

.sesiTersedia th {
  font-size: 20px;
}

.sesiTersedia td {
  font-size: 17px;
}

.sesiTersedia table {
  border-radius: 1em;
  overflow: hidden;
}

.sesiTersedia tr th {
  height: 70px;
}

.sesiTersedia tr td {
  height: 60px;
}

.modalSesiTersedia h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
}

.modalSesiTersedia button {
  font-size: 18px;
  font-weight: 400;
}

/* .sesiTersedia {
  height: 910px;
  overflow: scroll;
} */

/* .sesiTersedia::-webkit-scrollbar {
  display: none;
} */
@media (max-width: 960px) {
  .sesiTersedia {
    width: 100%;
    /* overflow: scroll; */
  } 
}