* {
  font-family: "Inter", sans-serif !important;
}

.cardPositifCovid {
  background-color: rgba(2, 109, 225, 1);
}

.cardSembuh {
  background-color: rgba(99, 154, 178, 1);
}

.cardMeninggal {
  background-color: rgba(170, 207, 181, 1);
}

.fontTiny {
  font-size: 12px;
}

.gejala {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.MuiTypography-root {
  font-family: "Inter", sans-serif !important;
  /* background-color: red; */
}

.MuiButtonBase-root {
  font-family: "Inter", sans-serif !important;
}
